<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
    
    <!-- 开启controller注解支持
        注意：base-package 配置的路径需要具体到 controller 层，如果范围不能具体到 controller 层，请将 use-default-filters 设置成false，
        否则之前加载的 Service和 Dao 层的 bean 会被替换掉，导致Service层的事务控制AOP将无法织入，导致AOP失效 -->
    <context:component-scan base-package="com.tanixu.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <!-- 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
    <mvc:default-servlet-handler/>
     <!-- 配置json -->
    <mvc:annotation-driven>  
	     <mvc:message-converters register-defaults="true">  
	        <!-- 避免IE执行AJAX时,返回JSON出现下载文件  --> 
	        <bean id="fastJsonHttpMessageConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">  
	            <property name="supportedMediaTypes">  
	                <list>  
	                    <value>application/json;charset=UTF-8</value>
	                </list>  
	            </property>  
	        </bean>  
	    </mvc:message-converters> 
	</mvc:annotation-driven> 
    <!-- 视图解析器 -->
    <bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>